#parent-p1 {
	-moz-transform: matrix(1,0,0,-1,-0,841.89);
	-ms-transform: matrix(1,0,0,-1,-0,841.89);
	-webkit-transform: matrix(1,0,0,-1,-0,841.89);
	transform: matrix(1,0,0,-1,-0,841.89);
	white-space: nowrap;
}
@font-face {
	font-family: trajanpro-regular;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	src: url('../fonts/page0001/trajanpro-regular.otf') format('opentype'),url('../fonts/page0001/trajanpro-regular.woff') format('woff');
}
.p1-styleid1 {
	color: #FFFFFF;
	font-family: "trajanpro-regular";
	font-size: 15.887px;
}
#p1-cid0 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid1 {
	-moz-transform: translate(10.806200999999998px, 0.0px);
	-ms-transform: translate(10.806200999999998px, 0.0px);
	-webkit-transform: translate(10.806200999999998px, 0.0px);
	position: absolute;
	transform: translate(10.806200999999998px, 0.0px);
	white-space: nowrap;
}
#p1-cid2 {
	-moz-transform: translate(19.896628000000003px, 0.0px);
	-ms-transform: translate(19.896628000000003px, 0.0px);
	-webkit-transform: translate(19.896628000000003px, 0.0px);
	position: absolute;
	transform: translate(19.896628000000003px, 0.0px);
	white-space: nowrap;
}
#p1-cid3 {
	-moz-transform: translate(31.560717px, 0.0px);
	-ms-transform: translate(31.560717px, 0.0px);
	-webkit-transform: translate(31.560717px, 0.0px);
	position: absolute;
	transform: translate(31.560717px, 0.0px);
	white-space: nowrap;
}
#p1-cid4 {
	-moz-transform: translate(37.994871px, 0.0px);
	-ms-transform: translate(37.994871px, 0.0px);
	-webkit-transform: translate(37.994871px, 0.0px);
	position: absolute;
	transform: translate(37.994871px, 0.0px);
	white-space: nowrap;
}
#p1-cid5 {
	-moz-transform: translate(50.46918600000001px, 0.0px);
	-ms-transform: translate(50.46918600000001px, 0.0px);
	-webkit-transform: translate(50.46918600000001px, 0.0px);
	position: absolute;
	transform: translate(50.46918600000001px, 0.0px);
	white-space: nowrap;
}
#p1-cid6 {
	-moz-transform: translate(61.27538800000001px, 0.0px);
	-ms-transform: translate(61.27538800000001px, 0.0px);
	-webkit-transform: translate(61.27538800000001px, 0.0px);
	position: absolute;
	transform: translate(61.27538800000001px, 0.0px);
	white-space: nowrap;
}
#p1-textid1 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,27.874,71.830326);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,27.874,71.830326);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,27.874,71.830326);
	-webkit-transform-origin:  0px 0px;
	height: 15.887px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,27.874,71.830326);
	transform-origin:  0px 0px;
	width: 64.932529px;
}
#p1-cid7 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid8 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid9 {
	-moz-transform: translate(10.806197000000012px, 0.0px);
	-ms-transform: translate(10.806197000000012px, 0.0px);
	-webkit-transform: translate(10.806197000000012px, 0.0px);
	position: absolute;
	transform: translate(10.806197000000012px, 0.0px);
	white-space: nowrap;
}
#p1-cid10 {
	-moz-transform: translate(22.470287000000013px, 0.0px);
	-ms-transform: translate(22.470287000000013px, 0.0px);
	-webkit-transform: translate(22.470287000000013px, 0.0px);
	position: absolute;
	transform: translate(22.470287000000013px, 0.0px);
	white-space: nowrap;
}
#p1-cid11 {
	-moz-transform: translate(33.27648700000002px, 0.0px);
	-ms-transform: translate(33.27648700000002px, 0.0px);
	-webkit-transform: translate(33.27648700000002px, 0.0px);
	position: absolute;
	transform: translate(33.27648700000002px, 0.0px);
	white-space: nowrap;
}
#p1-cid12 {
	-moz-transform: translate(43.63627699999999px, 0.0px);
	-ms-transform: translate(43.63627699999999px, 0.0px);
	-webkit-transform: translate(43.63627699999999px, 0.0px);
	position: absolute;
	transform: translate(43.63627699999999px, 0.0px);
	white-space: nowrap;
}
#p1-cid13 {
	-moz-transform: translate(50.311907000000005px, 0.0px);
	-ms-transform: translate(50.311907000000005px, 0.0px);
	-webkit-transform: translate(50.311907000000005px, 0.0px);
	position: absolute;
	transform: translate(50.311907000000005px, 0.0px);
	white-space: nowrap;
}
#p1-cid14 {
	-moz-transform: translate(61.118106999999995px, 0.0px);
	-ms-transform: translate(61.118106999999995px, 0.0px);
	-webkit-transform: translate(61.118106999999995px, 0.0px);
	position: absolute;
	transform: translate(61.118106999999995px, 0.0px);
	white-space: nowrap;
}
#p1-textid2 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,97.652003,71.830326);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,97.652003,71.830326);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,97.652003,71.830326);
	-webkit-transform-origin:  0px 0px;
	height: 15.887px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,97.652003,71.830326);
	transform-origin:  0px 0px;
	width: 64.775247px;
}
#p1-cid15 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid16 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid17 {
	-moz-transform: translate(10.961890000000011px, 0.0px);
	-ms-transform: translate(10.961890000000011px, 0.0px);
	-webkit-transform: translate(10.961890000000011px, 0.0px);
	position: absolute;
	transform: translate(10.961890000000011px, 0.0px);
	white-space: nowrap;
}
#p1-cid18 {
	-moz-transform: translate(19.70281px, 0.0px);
	-ms-transform: translate(19.70281px, 0.0px);
	-webkit-transform: translate(19.70281px, 0.0px);
	position: absolute;
	transform: translate(19.70281px, 0.0px);
	white-space: nowrap;
}
#p1-cid19 {
	-moz-transform: translate(26.378440000000012px, 0.0px);
	-ms-transform: translate(26.378440000000012px, 0.0px);
	-webkit-transform: translate(26.378440000000012px, 0.0px);
	position: absolute;
	transform: translate(26.378440000000012px, 0.0px);
	white-space: nowrap;
}
#p1-cid20 {
	-moz-transform: translate(37.18464px, 0.0px);
	-ms-transform: translate(37.18464px, 0.0px);
	-webkit-transform: translate(37.18464px, 0.0px);
	position: absolute;
	transform: translate(37.18464px, 0.0px);
	white-space: nowrap;
}
#p1-textid3 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,167.27273,71.830326);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,167.27273,71.830326);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,167.27273,71.830326);
	-webkit-transform-origin:  0px 0px;
	height: 15.887px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,167.27273,71.830326);
	transform-origin:  0px 0px;
	width: 41.15634px;
}
#p1-cid21 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-textid4 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,208.42907,71.830326);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,208.42907,71.830326);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,208.42907,71.830326);
	-webkit-transform-origin:  0px 0px;
	height: 15.887px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,208.42907,71.830326);
	transform-origin:  0px 0px;
	width: 15.855225999999988px;
}
#p1-cid22 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid23 {
	-moz-transform: translate(14.329894px, 0.0px);
	-ms-transform: translate(14.329894px, 0.0px);
	-webkit-transform: translate(14.329894px, 0.0px);
	position: absolute;
	transform: translate(14.329894px, 0.0px);
	white-space: nowrap;
}
#p1-cid24 {
	-moz-transform: translate(28.071976000000003px, 0.0px);
	-ms-transform: translate(28.071976000000003px, 0.0px);
	-webkit-transform: translate(28.071976000000003px, 0.0px);
	position: absolute;
	transform: translate(28.071976000000003px, 0.0px);
	white-space: nowrap;
}
#p1-cid25 {
	-moz-transform: translate(38.938547px, 0.0px);
	-ms-transform: translate(38.938547px, 0.0px);
	-webkit-transform: translate(38.938547px, 0.0px);
	position: absolute;
	transform: translate(38.938547px, 0.0px);
	white-space: nowrap;
}
#p1-cid26 {
	-moz-transform: translate(49.59859px, 0.0px);
	-ms-transform: translate(49.59859px, 0.0px);
	-webkit-transform: translate(49.59859px, 0.0px);
	position: absolute;
	transform: translate(49.59859px, 0.0px);
	white-space: nowrap;
}
#p1-textid5 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,27.874,52.766166);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,27.874,52.766166);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,27.874,52.766166);
	-webkit-transform-origin:  0px 0px;
	height: 15.887px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,27.874,52.766166);
	transform-origin:  0px 0px;
	width: 64.532182px;
}
#p1-cid27 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid28 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-textid6 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,97.251656,52.766166);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,97.251656,52.766166);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,97.251656,52.766166);
	-webkit-transform-origin:  0px 0px;
	height: 15.887px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,97.251656,52.766166);
	transform-origin:  0px 0px;
	width: 11.994534000000002px;
}
#p1-cid29 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid30 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid31 {
	-moz-transform: translate(8.737740000000002px, 0.0px);
	-ms-transform: translate(8.737740000000002px, 0.0px);
	-webkit-transform: translate(8.737740000000002px, 0.0px);
	position: absolute;
	transform: translate(8.737740000000002px, 0.0px);
	white-space: nowrap;
}
#p1-cid32 {
	-moz-transform: translate(22.956429999999997px, 0.0px);
	-ms-transform: translate(22.956429999999997px, 0.0px);
	-webkit-transform: translate(22.956429999999997px, 0.0px);
	position: absolute;
	transform: translate(22.956429999999997px, 0.0px);
	white-space: nowrap;
}
#p1-cid33 {
	-moz-transform: translate(35.824740000000006px, 0.0px);
	-ms-transform: translate(35.824740000000006px, 0.0px);
	-webkit-transform: translate(35.824740000000006px, 0.0px);
	position: absolute;
	transform: translate(35.824740000000006px, 0.0px);
	white-space: nowrap;
}
#p1-cid34 {
	-moz-transform: translate(46.484779999999986px, 0.0px);
	-ms-transform: translate(46.484779999999986px, 0.0px);
	-webkit-transform: translate(46.484779999999986px, 0.0px);
	position: absolute;
	transform: translate(46.484779999999986px, 0.0px);
	white-space: nowrap;
}
#p1-textid7 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,114.09166,52.766166);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,114.09166,52.766166);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,114.09166,52.766166);
	-webkit-transform-origin:  0px 0px;
	height: 15.887px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,114.09166,52.766166);
	transform-origin:  0px 0px;
	width: 61.418369999999996px;
}
#p1-cid35 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid36 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid37 {
	-moz-transform: translate(11.200189999999992px, 0.0px);
	-ms-transform: translate(11.200189999999992px, 0.0px);
	-webkit-transform: translate(11.200189999999992px, 0.0px);
	position: absolute;
	transform: translate(11.200189999999992px, 0.0px);
	white-space: nowrap;
}
#p1-cid38 {
	-moz-transform: translate(27.563589999999976px, 0.0px);
	-ms-transform: translate(27.563589999999976px, 0.0px);
	-webkit-transform: translate(27.563589999999976px, 0.0px);
	position: absolute;
	transform: translate(27.563589999999976px, 0.0px);
	white-space: nowrap;
}
#p1-cid39 {
	-moz-transform: translate(36.93680999999998px, 0.0px);
	-ms-transform: translate(36.93680999999998px, 0.0px);
	-webkit-transform: translate(36.93680999999998px, 0.0px);
	position: absolute;
	transform: translate(36.93680999999998px, 0.0px);
	white-space: nowrap;
}
#p1-cid40 {
	-moz-transform: translate(48.59771999999998px, 0.0px);
	-ms-transform: translate(48.59771999999998px, 0.0px);
	-webkit-transform: translate(48.59771999999998px, 0.0px);
	position: absolute;
	transform: translate(48.59771999999998px, 0.0px);
	white-space: nowrap;
}
#p1-cid41 {
	-moz-transform: translate(55.03187px, 0.0px);
	-ms-transform: translate(55.03187px, 0.0px);
	-webkit-transform: translate(55.03187px, 0.0px);
	position: absolute;
	transform: translate(55.03187px, 0.0px);
	white-space: nowrap;
}
#p1-cid42 {
	-moz-transform: translate(67.50300999999999px, 0.0px);
	-ms-transform: translate(67.50300999999999px, 0.0px);
	-webkit-transform: translate(67.50300999999999px, 0.0px);
	position: absolute;
	transform: translate(67.50300999999999px, 0.0px);
	white-space: nowrap;
}
#p1-textid8 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,180.35551,52.766166);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,180.35551,52.766166);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,180.35551,52.766166);
	-webkit-transform-origin:  0px 0px;
	height: 15.887px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,180.35551,52.766166);
	transform-origin:  0px 0px;
	width: 83.358236px;
}
.p1-styleid2 {
	color: #FFFFFF;
	font-family: "trajanpro-regular";
	font-size: 42.416px;
}
#p1-cid43 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid44 {
	-moz-transform: translate(28.842540000000014px, 0.0px);
	-ms-transform: translate(28.842540000000014px, 0.0px);
	-webkit-transform: translate(28.842540000000014px, 0.0px);
	position: absolute;
	transform: translate(28.842540000000014px, 0.0px);
	white-space: nowrap;
}
#p1-cid45 {
	-moz-transform: translate(66.88924px, 0.0px);
	-ms-transform: translate(66.88924px, 0.0px);
	-webkit-transform: translate(66.88924px, 0.0px);
	position: absolute;
	transform: translate(66.88924px, 0.0px);
	white-space: nowrap;
}
#p1-cid46 {
	-moz-transform: translate(97.51323px, 0.0px);
	-ms-transform: translate(97.51323px, 0.0px);
	-webkit-transform: translate(97.51323px, 0.0px);
	position: absolute;
	transform: translate(97.51323px, 0.0px);
	white-space: nowrap;
}
#p1-cid47 {
	-moz-transform: translate(122.53838000000002px, 0.0px);
	-ms-transform: translate(122.53838000000002px, 0.0px);
	-webkit-transform: translate(122.53838000000002px, 0.0px);
	position: absolute;
	transform: translate(122.53838000000002px, 0.0px);
	white-space: nowrap;
}
#p1-cid48 {
	-moz-transform: translate(161.85755px, 0.0px);
	-ms-transform: translate(161.85755px, 0.0px);
	-webkit-transform: translate(161.85755px, 0.0px);
	position: absolute;
	transform: translate(161.85755px, 0.0px);
	white-space: nowrap;
}
#p1-cid49 {
	-moz-transform: translate(190.31835px, 0.0px);
	-ms-transform: translate(190.31835px, 0.0px);
	-webkit-transform: translate(190.31835px, 0.0px);
	position: absolute;
	transform: translate(190.31835px, 0.0px);
	white-space: nowrap;
}
#p1-cid50 {
	-moz-transform: translate(224.67489999999998px, 0.0px);
	-ms-transform: translate(224.67489999999998px, 0.0px);
	-webkit-transform: translate(224.67489999999998px, 0.0px);
	position: absolute;
	transform: translate(224.67489999999998px, 0.0px);
	white-space: nowrap;
}
#p1-cid51 {
	-moz-transform: translate(255.80788px, 0.0px);
	-ms-transform: translate(255.80788px, 0.0px);
	-webkit-transform: translate(255.80788px, 0.0px);
	position: absolute;
	transform: translate(255.80788px, 0.0px);
	white-space: nowrap;
}
#p1-cid52 {
	-moz-transform: translate(280.83303px, 0.0px);
	-ms-transform: translate(280.83303px, 0.0px);
	-webkit-transform: translate(280.83303px, 0.0px);
	position: absolute;
	transform: translate(280.83303px, 0.0px);
	white-space: nowrap;
}
#p1-textid9 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,145.856,696.409268);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,145.856,696.409268);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,145.856,696.409268);
	-webkit-transform-origin:  0px 0px;
	height: 42.416px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,145.856,696.409268);
	transform-origin:  0px 0px;
	width: 323.164198px;
}
.p1-styleid3 {
	color: #FFFFFF;
	font-family: "trajanpro-regular";
	font-size: 97.28px;
}
#p1-cid53 {
	-moz-transform: translate(0.0px, 0.0px);
	-ms-transform: translate(0.0px, 0.0px);
	-webkit-transform: translate(0.0px, 0.0px);
	position: absolute;
	transform: translate(0.0px, 0.0px);
	white-space: nowrap;
}
#p1-cid54 {
	-moz-transform: translate(55.06024999999998px, 0.0px);
	-ms-transform: translate(55.06024999999998px, 0.0px);
	-webkit-transform: translate(55.06024999999998px, 0.0px);
	position: absolute;
	transform: translate(55.06024999999998px, 0.0px);
	white-space: nowrap;
}
#p1-cid55 {
	-moz-transform: translate(133.85672999999997px, 0.0px);
	-ms-transform: translate(133.85672999999997px, 0.0px);
	-webkit-transform: translate(133.85672999999997px, 0.0px);
	position: absolute;
	transform: translate(133.85672999999997px, 0.0px);
	white-space: nowrap;
}
#p1-cid56 {
	-moz-transform: translate(199.42318px, 0.0px);
	-ms-transform: translate(199.42318px, 0.0px);
	-webkit-transform: translate(199.42318px, 0.0px);
	position: absolute;
	transform: translate(199.42318px, 0.0px);
	white-space: nowrap;
}
#p1-cid57 {
	-moz-transform: translate(278.21966000000003px, 0.0px);
	-ms-transform: translate(278.21966000000003px, 0.0px);
	-webkit-transform: translate(278.21966000000003px, 0.0px);
	position: absolute;
	transform: translate(278.21966000000003px, 0.0px);
	white-space: nowrap;
}
#p1-cid58 {
	-moz-transform: translate(347.67729px, 0.0px);
	-ms-transform: translate(347.67729px, 0.0px);
	-webkit-transform: translate(347.67729px, 0.0px);
	position: absolute;
	transform: translate(347.67729px, 0.0px);
	white-space: nowrap;
}
#p1-textid10 {
	-moz-transform: matrix(1.0,0.0,0.0,-1.0,93.0913,796.05344);
	-moz-transform-origin:  0px 0px;
	-ms-transform: matrix(1.0,0.0,0.0,-1.0,93.0913,796.05344);
	-ms-transform-origin:  0px 0px;
	-webkit-transform: matrix(1.0,0.0,0.0,-1.0,93.0913,796.05344);
	-webkit-transform-origin:  0px 0px;
	height: 97.28px;
	position: absolute;
	transform: matrix(1.0,0.0,0.0,-1.0,93.0913,796.05344);
	transform-origin:  0px 0px;
	width: 444.76273px;
}
