#bodyimage {
	-ms-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	height: 841.9px;
	left: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	transform-origin: 0px 0px;
	width: 595.3px;
	z-index: -50;
}
body {
	height: 842px;
	margin: 0px;
	width: 595px;
}
.selected{outline: 1px solid green; }
.pagebreak{margin:0px;}
figure{margin:0px;}
figure#bodyimage img{width: 100%;}
.-epub-media-overlay-active span{	color: red;}
