


android/EpubRnD/gen/*.*
android/EpubRnD/gen/com/hurix/epubRnD/R.java

android/EpubRnD/gen/android/support/v7/appcompat/R.java

android/EpubRnD/bin/resources.ap_

android/EpubRnD/gen/android/support/v7/appcompat/R.java

android/EpubRnD/bin/res/crunch/drawable-xhdpi/ic_launcher.png

android/EpubRnD/bin/dexedLibs/android-support-v7-appcompat-57b7b88ba7cbc8533c1d9a4ca8309cd2.jar

android/EpubRnD/gen/android/support/v7/appcompat/R.java

android/EpubRnD/bin/res/crunch/drawable-mdpi/quickaction_arrow_up.png

android/EpubRnD/bin/res/crunch/drawable-hdpi/ic_launcher.png

android/EpubRnD/res/drawable-mdpi/ic_launcher.png

android/EpubRnD/bin/R.txt

android/EpubRnD/bin/dexedLibs/android-support-v7-appcompat-57b7b88ba7cbc8533c1d9a4ca8309cd2.jar

android/EpubRnD/bin/res/crunch/drawable-hdpi/ic_launcher.png

android/EpubRnD/bin/jarlist.cache

android/EpubRnD/bin/EpubRnD.apk

android/EpubRnD/bin/res/crunch/drawable-mdpi/ic_launcher.png

android/EpubRnD/bin/res/crunch/drawable-mdpi/quickaction_arrow_down.png

android/EpubRnD/bin/res/crunch/drawable-xxhdpi/ic_launcher.png

android/EpubRnD/bin/classes/com/hurix/epubRnD/widgets/QuickAction.class

android/EpubRnD/bin/classes/com/hurix/epubRnD/widgets/QuickAction$PopupWindows.class

*.class

*.png

*.properties

android/.metadata/.log

android/.metadata/.plugins/org.eclipse.cdt.core/.log

android/.metadata/.plugins/org.eclipse.core.resources/.history/0/704b09f2060c00141484c60553736396

android/.metadata/.plugins/org.eclipse.core.resources/.history/13/900356f26e060014122684cc91a8896a

android/.metadata/.plugins/org.eclipse.core.resources/.history/13/e09f3badf00b00141484c60553736396

android/.metadata/.plugins/org.eclipse.core.resources/.history/16/80b0ac8c77060014122684cc91a8896a

android/.metadata/.plugins/org.eclipse.core.resources/.history/15/20dce93570060014122684cc91a8896a

android/.metadata/.plugins/org.eclipse.core.resources/.history/36/70cb53c370060014122684cc91a8896a

android/.metadata/.plugins/org.eclipse.core.resources/.history/19/c05719d9f40b00141484c60553736396

android/.metadata/.plugins/org.eclipse.core.resources/.history/1b/20c792c0a6060014122684cc91a8896a

*.class
